nonebot2[fastapi,httpx]
nonebot-adapter-onebot
pydantic
sqlmodel
sqlalchemy
aiosqlite
httpx
fastapi
Pillow>=9.2
playwright>=1.40
arclet-alconna>=1.8.35,<2.0
matplotlib>=3.7.0
nonebot-plugin-localstore>=0.6.0,<1.0.0
nonebot-plugin-orm>=0.7.0,<1.0.0
nonebot-plugin-uninfo>=0.6.1,<1.0.0
pypinyin>=0.44.0,<1.0.0
python-dateutil>=2.8.2
PyYAML>=6.0
rapidfuzz>=3.9.0
